{% load static %}

<!DOCTYPE HTML>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>circle</title>

<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<link  href="{% static 'css/tailwindcss-colors.css' %}" rel="stylesheet"  type="text/css"/>
<link  href="{% static 'css/style_1.css' %}" rel="stylesheet"  type="text/css" />

<script src="{% static 'js/script.js' %}" type="text/javascript"> </script>


<head>

{% block headers %}  {% endblock headers %}
</head>


<body>
      <!-- start: Chat -->
      <section class="chat-section">
        <div class="chat-container">
            <!-- start: Sidebar -->
           {% include "chat/slide_bar.html" %}
            <!-- end: Sidebar -->
            <!-- start: Content -->
            <div class="chat-content">
                <!-- start: Content side -->
                <div class="content-sidebar">
                    <div class="content-sidebar-title">Chats</div>
                    <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit"><i class="ri-search-line"></i></button>
                    </form>
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            <li class="content-message-title"><span>Recently</span></li>
                         {% include "chat/users.html" %}
                        </ul>
                    </div>
                </div>
                <!-- end: Content side -->
                <!-- start: Conversation -->
                <div class="conversation conversation-default active">
                    <i class="ri-chat-3-line"></i>
                    <p>Select chat and view conversation!</p>
                   
                    {% block body %} {% endblock body %}
                </div>
                
                <!-- end: Conversation -->
            </div>
            <!-- end: Content -->
        </div>
    </section>
    <!-- end: Chat -->

</body>

{% block footer %} {% endblock footer %}

</html>